
.navigation_block{
	height: 20%;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: fixed;
	top:-3%;
	left: 0;
	background: transparent;
	text-align: center;
}

.cover{
	background-color: rgba(64,64,64,.7);
	text-align: center;
    padding-top: 18%;
    padding-bottom: 10%;
}

#title{
	font-family: Helvetica;
    font-size: 54px;
    line-height: 1.1em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

#subtitle{
	font-family: Helvetica;
    font-size: 24px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 300;
    font-style: normal;
    color: #aaa6b0;
    margin: 20px auto;
}

.logo{
	position: relative;
	left: -40%;
	height: 20%;
	text-align: center;
}

.logo a#npart{
	text-decoration: none;
	background: transparent;
	text-align: left;
	color: black;
	font-family: Helvetica;
	font-style: solid;
}

.logo a#hpart{
	text-decoration: none;
	background: transparent;
	text-align: left;
	color: #009a61;
	font-family: Helvetica;
	font-style: solid;
	width: 10%;
	text-indent: 110%;
}


#menu{
	list-style-type: none;
	width: 100%;
	height: 100%;
	float: left;
	background-color:#ADD8E6;
}

.menu_section{
    background: transparent;
	display: inline-block;
	text-align: center;
	width: 12%;
	margin-left: 4%;
	margin-top: 3%;
}



.menu_section a{
	font-size: 200%;
	text-decoration: none;
	font-family: Helvetica;
	color: #fcf8e3;;
	border-radius: 5px;
	width: 120%;
	margin-left: -170%;
}


.menu_section a:hover{
	background-color: #eee;
	color: #666;
}


.info{
	float: right;
	margin-right: 7%;
    margin-top: -2%;
	font-size: 20px;
	font-family: Helvetica;
	font-style: solid;
	border-radius: 20px;
	color: #fcf8e3;
	width: 30%;
	text-align: center;
	background-color: #009a61;
	border-style: solid;
	border-width: 5px;
}

.motto{
	text-align: center;
	padding-bottom: 10%;
}

.motto h3{
	font-family: Helvetica;
    font-size: 24px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    color: #6ac4bc;
}

.divide{
	width: 98%;
	padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
}


.divide hr{
	border-style: none;
    border-width: 0;
    margin: 32px 0;
    color: rgba(31,37,38,.15);
    background-color: rgba(31,37,38,.15);
    height: 1px;
}
