@media screen and (min-width: 600px){

    .introduction_li{
    	background-color: white;
    	text-align: center;
    	height: 40vh;
    	color: black;
    	opacity: 0.8;
    	font-size: 29px;
    	font-family: Helvetica;
        font-size: 29px;
        line-height: 1.1em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
    }

    .blog_li{
    	background-color: #FF3B3F;
    	text-align: center;
    	height: 40vh;
    	opacity: 0.8;
    	font-family: Helvetica;
        font-size: 29px;
        line-height: 1.1em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
        color: #fff;
    }

    .web_li{
    	background-color: #A9A9A9;
    	text-align: center;
    	height: 40vh;
    	opacity: 0.8;
    	font-family: Helvetica;
        font-size: 29px;
        line-height: 1.1em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
        color: #fff;
    }

}


@media screen and (max-width: 600px){

    .introduction_li{
        background-color: white;
        text-align: center;
        height: 30vh;
        color: black;
        opacity: 0.8;
        font-size: 4vw;
        font-family: Helvetica;
        line-height: 1.1em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
    }

    .blog_li{
        background-color: #FF3B3F;
        text-align: center;
        height: 30vh;
        opacity: 0.8;
        font-family: Helvetica;
        font-size: 4vw;
        line-height: 1.1em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
        color: #fff;
    }

    .web_li{
        background-color: #A9A9A9;
        text-align: center;
        height: 30vh;
        opacity: 0.8;
        font-family: Helvetica;
        font-size: 4vw;
        line-height: 1.1em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 300;
        font-style: normal;
        color: #fff;
    }

}

